<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spor Öneri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sport_suggestion_style.css') }}">
    <script src="{{ url_for('static', filename='sport_suggestion_functions.js') }}"></script>
</head>

<body>
    <div class="form">
        <h2 class="form-title">Spor Öneri</h2>
        <form id="sportForm" action="/" method="post">
            <h5>1.</h5>
            <div class="radio-group">
                <label for="gender">Cinsiyetiniz:</label><br>
                <input type="radio" id="female" name="gender" value="Kadın" required>
                <label for="Kadın">Kadın</label><br>
                <input type="radio" id="male" name="gender" value="Erkek" required>
                <label for="Erkek">Erkek</label><br>
            </div>

            <h5>2.</h5>
            <label for="age">Yaşınız:</label><br>
            <input type="text" id="age" name="age" required><br>
          
            <h5>3.</h5>
            <label for="length">Boyunuz:</label><br>
            <input type="text" id="length" name="length" required><br>

            <h5>4.</h5>
            <label for="weight">Kilonuz:</label><br>
            <input type="text" id="weight" name="weight" required><br>

            <input type="submit" value="Gönder">
            <label type="text" id="response"></label>
        </form>
</body>
</html>