*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('img/gsb-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.2;
    mix-blend-mode:luminosity;
}
.chat-container {
    width: 50%;
    height: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f8e2; 
    border: none;
}

.chat-container button {
    align-self: flex-start;
    margin-top: 10px;
}

#chat-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    width: 98%;
    padding: 15px;
    background-color: #f9f9f9;
    font-size: 1rem;
    color: #333;
}

.user-message, .bot-message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.user-message {
    background-color: rgba(173, 255, 47, 0.2);
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

.bot-message {
    background-color: rgba(176, 255, 47, 0.6);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    white-space: pre-wrap; /* Yeni satırları korur */
}

.bot-message h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

.bot-message p {
    margin-left: 20px;
    margin-bottom: 5px;
}

/* Kullanıcı girişi ve buton */
#user-input {
    width: 98%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #4e90dd;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #357bbd;
}
